body {
}

h1 {
  text-align: center;
}

h3 {
   font-family: times;

}

p {
  font-family: times;
  font-size: 16px;
  background-color: beige;
}

a {
    font-family: times;
    font-size: 16px;
}

#button {
    border-style: solid;
}